{% extends "base.html.twig" %}

{% block main %}
<div class="page-header content-box">
    <h1>Kortlek</h1>
</div>

{{ include('flash.html.twig') }}

<div class="content-box">
    <div class="card-deck">
        {% for index, cardChar in cardsChars %}
        <div class="card {{ cardsSuits[index] }}">{{ cardChar|raw }}</div>
        {% endfor %}
</div>
</div>

{% endblock %}
