{% extends "base.html.twig" %}

{% block main %}
<div class="page-header content-box">
    <h1>Kortspel</h1>
</div>



<div class="content-box">
    <div class="card-links">
        <a href="{{ path('deck') }}" class="button">Se kortlek</a>
        <a href="{{ path('shuffle_deck') }}" class="button">Blanda kortlek</a>
        <a href="{{ path('draw') }}" class="button">Dra kort</a>
    </div>
</div>

{% endblock %}
