:root {
    --dark-color: #CC6600;
    --light-color: #FFFBD0;
    --black-hover: rgb(48, 48, 48);
    --margin-boxes: 1.3rem;
    --black: rgb(24, 24, 24);
    --black-lighter: rgb(32, 32, 32);
    --gray:  rgb(51, 51, 51);
    --font-white: #fff;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: var(--dark-color);
    color: #000;
}

body {
    font-family: "Rubik", sans-serif;
    /* background: url('../images/background.jpg'); */
    /* background-size: cover; */
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.7rem;
}

header {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
    padding: 0.3em;
}

nav a:hover {
    color: var(--black-hover);
    cursor: pointer;
    transform: scale(1.06);
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0.5em;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
    color: #000;
    min-height: 100px;
    width: 100%;
}

.footer-col {
    height: 100%;
}

.footer-col1 {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.footer-col1 p {

}

.footer-col2 {
    width: 40%;
    height: 100%;
    background-color: aqua !important;
}

.footer-col3 {
    width: 20%;
    height: 100%;
}

footer .link-box {
    margin-bottom: 1rem;
}

main {
    flex-grow: 1;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.about-me {
    margin: 1.2rem 3rem;
    width: 700px;
}

.about-me img {
    margin: 0.6rem 0;
    width: 220px;
}

.about-me p {
    margin-top: 1rem;
}

.content-box {
    border-radius: 1.2rem;
    background-color: var(--light-color);
    color: #000;
    padding: 1.4rem;
    margin-top: var(--margin-boxes);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page-header {
    padding: 0.85rem 1.0rem;
}

.about-container {
    display: flex;
    width: 80%;
    align-items: flex-start;
}

.about-container h2 {
    margin-bottom: 0.5rem;
}

.about-left-col {
    width: 70%;
    margin-right: var(--margin-boxes);
}

.about-left-col p {
    margin-top: 1rem;
}

.about-right-col {
    flex: 1;
    width: 20%;
}

.about-right-col {

}

.link-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    color: #000;
}

.about-container .link-box {
    
}

.link-box:hover {
    color: var(--black-hover);
    transform: scale(1.06);
    cursor: pointer;
}

.link-img {
    color: #3e75c3;
    width: 3rem;
    margin-top: 0.3rem;
}

.about-left-col img {
    margin-top: 1.5rem;
    border-radius: 1.2rem;
    border: 2px solid #000;
    width: 60%;
}

footer .link-img {
    width: 1.5rem;
}

footer .link-box {
    display: flex;
    justify-content: left;
    align-items: center;
}

.multiplication {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.factor {

}

.number-container, .sign-container {
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.number-container img {
    height: 120%;
}

.sign-container img {
    height: 75%;
}

.times, .factor-two, .equals, .product {
    margin-left: 2rem;
}

.factor, .product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoom-in {
    animation: zoomIn 2s forwards;
}

.moving {
    position: relative;
    animation: spin 3.5s linear infinite, moveUpDown 3.5s ease-in-out infinite;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes moveUpDown {
    0%, 100% { top: 0; }
    50% { top: 200px; }
}

.report-container {
    width: 60%;
}

.report p {
    margin-top: 1rem;    
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    margin: 2rem;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #fff;
    background-color: #dd6b57;
    border-color: #c94e38;
    margin: 2rem;
}
.flash-warning:before {
    content: "⚠";
}

.die {
    font-size: 2rem;
}

.card {
    font-size: 6rem;
    margin: 0.3rem;
}

.card-deck {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    margin: 0 1.2rem;
}

.spades, .clubs {
    color: black;
}

.hearts, .diamonds {
    color: red;
}

.button {
    color: white;
    /* background-color: var(--black-hover); */
    background-image: linear-gradient(var(--black), var(--black-lighter));
    border: none;
    border-radius: 0.7rem;
    text-decoration: none;
    box-sizing: border-box;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    padding: 0.4rem 1rem;
    text-align: center;
    line-height: 1.4;
}

.button:hover {
    background-color: var(--black-hover);
    background-image: var(--black-hover);
    cursor: pointer;
    transform: scale(1.06);
}

.card-links .button {
    width: 15rem;
    margin: 2rem auto;
}

.card-links {
    margin: 0 8rem;
}

.single-session-data {
    margin-bottom: 2rem;
    border: 2px solid var(--black);
    border-radius: 0.8rem;
    padding: 0.5rem;
}

.session-link {
    color: var(--black);
}

.api-routes {

}

.api-link {
    margin: 1rem 8rem;
    width: 23rem;
    text-align: left;
    justify-content: left;
}

.twenty-one-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.twenty-one-game-info {
    width: 100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.twenty-one-game-info .button {
    margin-bottom: 1rem;
}

.twenty-one-game-info .info-left-col {
    width: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.twenty-one-game-info .info-right-col {
    width: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.twenty-one-game-info .score {
    background-color: var(--gray);
    border-radius: 0.7rem;
    padding: 0.6rem;
    text-align: left;
    color: var(--font-white);
}

.twenty-one-game-info .draw-button {
    width: 10rem;
}

.twenty-one-game-info .stay-button {
    width: 10rem;
}

.twenty-one-game-info .bank-play-button {
    width: 10rem;
}

.twenty-one-game-info .new-game-button {
    width: 10rem;
}

.twenty-one-card-areas-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.twenty-one-card-areas-container .your-cards {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.twenty-one-card-areas-container .bank-cards {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.twenty-one-card-areas-container .your-cards-cards {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 0 2rem;
}

.twenty-one-card-areas-container h3 {
    text-align: center;
}

.twenty-one-card-areas-container .bank-cards-cards {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 0 2rem;
}

.twenty-one-rules {
    margin-bottom: 2rem;
    max-width: 34rem;
}

.twenty-one-rules h3 {
    text-align: center;
}

.twenty-one-rules p {
    margin-top: 0.7rem;
}

.twenty-one-pseudo, .twenty-one-flowchart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.twenty-one-flowchart {
    margin-top: 2rem;
}

.twenty-one-pseudo img {
    width: 40rem;
    margin: 1rem;
}

.twenty-one-flowchart img {
    width: 30rem;
    margin: 1rem;
}

.twenty-one-home-buttons .button {
    margin-bottom: 1rem;
}

.twenty-one-home-buttons .button:last-child {
    margin-bottom: 0;
}
