{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
    <div class="page-header content-box">
        <h1>Tillgängliga API routes</h1>
    </div>

    <div class="api-routes content-box">
        {% for route, description in routes %}
        <a href="api{{ route }}" class="button api-link">{{ route }} - {{ description }}</a>
        {% endfor %}
    </div>
{% endblock %}
