{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
    <div class="page-header content-box">
        <h1>Hem</h1>
    </div>

    <div class="about-me content-box">
        <img src="{{ asset('img/me.png') }}" alt="Bild på mig">

        <p>Hej! Jag heter Viktor Nordenberg och jag studerar webbprogrammering på distans på Blekinge Tekniska Högskola. Jag har tidigare pluggat statistik i Umeå men har nu valt en lite ny inriktning.</p>
        <p>Mina största intressen är sport och spel. Gällande sport så ligger det största intresset i fotboll och hockey men det jag utövar mest just nu är discgolf. Jag utöver fotboll och hockey även spelat handboll. Spelintresset sträcker sig också rätt stort men består framför allt av onlinespel men också sällskapsspel m.m.</p>
    </div>
{% endblock %}
