{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block main %}
    <div class="page-header content-box">
        <h1>Reodivsningstexter</h1>
    </div>

    <div class="report-container">
        <div id="kmom01" class="content-box report">
            <h2>kmom01</h2>
            <p>Här kommer reodivsningstexten för momentet</p>
        </div>

        <div id="kmom02"class="content-box report">
            <h2>kmom02</h2>
            <p>Här kommer reodivsningstexten för momentet</p>
        </div>


        <div id="kmom03"class="content-box report">
            <h2>kmom03</h2>
            <p>Här kommer reodivsningstexten för momentet</p>
        </div>


        <div id="kmom04"class="content-box report">
            <h2>kmom04</h2>
            <p>Här kommer reodivsningstexten för momentet</p>
        </div>


        <div id="kmom05"class="content-box report">
            <h2>kmom05</h2>
            <p>Här kommer reodivsningstexten för momentet</p>
        </div>


        <div id="kmom06"class="content-box report">
            <h2>kmom06</h2>
            <p>Här kommer reodivsningstexten för momentet</p>
        </div>


        <div id="kmom10"class="content-box report">
            <h2>kmom10</h2>
            <p>Här kommer reodivsningstexten för momentet</p>
        </div>
    </div>
{% endblock %}
